.dialoguePanel {
  -fx-background-color: rgba(255, 203, 203, 0.6);
  -fx-border-color: rgba(251, 62, 62, 0.6);
  -fx-background-radius: 15;
  -fx-border-radius: 15;
  -fx-border-width: 4;
  -fx-border-style: solid inside;
  -fx-background-insets: 2;
}
.dialogue-btn {
  -fx-font-family: 'Aller Bold';
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-text-fill: rgba(71, 52, 52, 0.9);
  -fx-font-size: 1em;
}
.dialogue-btn:hover {
  -fx-text-fill: rgba(71, 52, 52, 0.6);
}
.dialogue-btn:pressed {
  -fx-text-fill: rgba(71, 52, 52, 0.9);
}
.dialogue-text {
  -fx-font-family: 'Aller Regular';
  -fx-text-fill: #FFFFFF;
  -fx-effect: dropshadow(two-pass-box, #473434, 2, 1.0, 0, 0);
  -fx-font-size: 1.5em;
}
.nameplate-panel {
  -fx-background-color: rgba(255, 224, 229, 0.9);
  -fx-background-radius: 15 15 0 0;
  -fx-padding: 0; /* може відступ більший */
  -fx-pref-width: 200px;
  -fx-pref-height: 48px;
  -fx-alignment: center;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.15), 4, 0, 0, 4);
}
.character-name-text {
  -fx-font-family: 'Riffic Free Bold';
  -fx-font-size: 32px;
  -fx-text-fill: #FFFFFF;
}
.character-name-text .text {
  /* stroke width вкрасти у game main menu */
  -fx-fill: #FFFFFF;
  -fx-stroke: #C02E2E;
  -fx-stroke-width: 3px;
  -fx-stroke-type: outside;
  -fx-stroke-line-join: round;
}